*{
    margin: 0;
    padding: 0;
}

.titulo{
    background-image: url(../assets/imagenes/imgPactTuristicas.png);

    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.logo_titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}
.logo_titulo h2{
    padding-left: 50px;
}
.qPaginaes{
    justify-content: center;
    color: white;
    display: flex;
    margin-top: 100px;
}
.menu{
    list-style: none;
    align-items: center;
    display: flex;
    width: 100%;
    background-color: #010B40;
    height: 80px;
}

.menu ul{
    width: 100%;
}
.menu ul li{
    display: inline-block;
    width: 10%;
    position: relative;
    font-size: 20px;
    margin-left: 2%;
}

.menu ul li a{
    text-decoration: none;
    color: #3B83D5 ;
}

#grid-container{
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1.5fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        'desc img'
        'mapa ir'
        'mapa ir'
        'obj obj'
        'turismo turismo';

    height: 800px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
}

.descrip{
    
    grid-area: desc;
}

.imagen{
    grid-area: img;
}

.ubicacion{

    grid-area: mapa;
}

.ir{
    grid-area: ir;
}

.objetivo{
    grid-area: obj;
}

.turismo{
    grid-area: turismo;
}