*{
    margin: 0;
    padding: 0;
}

.titulo{
    background-image: url(../assets/imagenes/Slider-lobomarinp.jpg);

    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.logo_titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}
.logo_titulo h2{
    padding-left: 50px;
}
.qPaginaes{
    justify-content: center;
    color: white;
    display: flex;
    margin-top: 100px;
}
.menu{
    list-style: none;
    align-items: center;
    display: flex;
    width: 100%;
    background-color: #010B40;
    height: 80px;
}

.menu ul{
    width: 100%;
}
.menu ul li{
    display: inline-block;
    width: 10%;
    position: relative;
    font-size: 20px;
    margin-left: 2%;
}

.menu ul li a{
    text-decoration: none;
    color: #3B83D5;
}
body {
    line-height: 1.2;
    font-family: Arial, sans-serif;
}

#grid-container{
    display: grid;
    background-color:transparent;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'slider-box texto1'
    'texto2 slider-box2';
    height: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.texto1{
    width: 100%;
    height: 100%;
    margin-top: 50px ;
    grid-area: texto1;
}

.texto2{
    width: 100%;
    height: 100%;
    margin-top: 50px ;
    grid-area: texto2;
}

.img_carrusel{
    width: 800px;
}

.slider-box{
    width: 700px;
    height: auto;
    overflow: hidden;
    margin-top: 50px ;
    grid-area: slider-box;


}
.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;

}
.slider-box img{
    width: 100%;
    height: 100%;
}

@keyframes slide{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.img_carrusel{
    width: 800px;
}

.slider-box2{
    width: 700px;
    height: auto;
    overflow: hidden;
    margin-top: 50px ;
    grid-area: slider-box2;
}
.slider-box2 ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite ease-in-out;

}

.slider-box2 li{
    width: 100%;
    list-style: none;
    position: relative;

}
.slider-box2 img{
    width: 100%;
    height: 100%;
}

@keyframes slide{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

#grid-container2{
    display: grid;
    background-color:transparent;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'animal_1 animal2'
    'fauna1 ';
    height: 1000px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.img_animal{
    width: 300px;
}

.animal1{
    width: 700px;
    height: auto;
    overflow: hidden;
    margin-top: 50px ;
    grid-area: animal1;
    
}

.animal2{
    width: 700px;
    height: auto;
    overflow: hidden;
    margin-top: 50px ;
    grid-area: animal2;
}

.img_florafauna{
    width: 300px;
}

.fauna1{
    width: 700px;
    height: auto;
    overflow: hidden;
    margin-top: 50px ;
    grid-area: fauna1;
}


footer{
    background-color: #2175BF ;
    width: 100%;
}

.redes{
    display: flex;
    align-items: center;

}

.redes img{
    width: 50px;
    height: auto;
    margin-right: 10px;
}
.redes a{
    text-decoration: none;
    color: black;
}

#foot_grid-container{
    display: grid;
    background-color:transparent;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:  
    'ig x menu'
    'face dire menu'
    'mail tele menu'
    'telefon e e';
    height: 220px;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    width: 100%;
    align-items: center;
    background-color:#2175BF;

}

#ig{
    grid-area: ig;
}
#x{
    grid-area: x;
}
#facebook{
    grid-area: face;
}
#direccion{
    grid-area: dire;
}
#mail{
    grid-area: mail;
}
#telegram{
    grid-area: tele;
}
#telefono{
    grid-area: telefon;
}
#menu_footer{
    grid-area: menu;
}

#menu_footer{
    list-style: none;
    align-items: center;
    width: 100%;
    height: 100px;
}

#menu_footer ul{
    width: 100%;
}
#menu_footer ul li{
    display:block;
    width: 10%;
    font-size: 20px;
    margin-left: 2%;
}

#menu_footer ul li a{
    text-decoration: none;
    color: white;
}
#foot_grid-container p{
    color: white;

}
#foot_grid-container p a{
    color: white;

}
.derechos{
    background-color:#3B83D5;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 98.5%;
    font-size: 15px;
}
#gradient{
    height: 100px;
    width: 100%;

    background-image: linear-gradient(to bottom, white, #2175BF);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    #foot_grid-container{
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr ;
        grid-template-areas:
        'ig'
        'x'
        'face'
        'dire'
        'mail'
        'tele'
        'telefon'
        'menu';
        height: 600px;
        width: /*320px*/auto;

    }
    #slider-box{
        width: 290px;
        margin: 0;
    }
    header{
         width: auto; 
    }
    .menu{
        height: 150px;
    }
    #gradient{
        width: auto;
    }
    .derechos{
        width: auto;
    } 
    #grid-container{
        width: 280px;
        margin-left: 0;
        height: 3500px;
    }
    .menu ul li{
        display: block;
    }
    .menu ul{
        justify-self: center;
    }
    .imagen{
        width: 280px;
    }
    .logo_titulo{
        justify-content: left;
    }
    .qPaginaes{
        justify-content: left;

    }

    .logo_titulo img{
        height: 100px;
}
    .logo_titulo h2{
        padding-left: 0px;
        width: 100px;
    }




    
}